{% extends 'home/home.html' %}
{% load static %}

{% block title %}
<title> radar view </title>
{% endblock %}

{% block verticalnav %}
<img src="{% static '/img/krein_logo.png' %}" alt="logo" id="img_logo">
<div class="icon" id="selected_icon">
    <a href="" class="material-icons icon_content" id="selected_icon_content">radar</a>
</div>
<div class="icon">
    <a href="{% url 'company_list_page' user.id %}" class="material-icons icon_content">list</a>
</div>
<div class="icon" id="account_settings_icon">
    <a href="" class="material-icons-outlined icon_content">manage_accounts</a>
</div>
{% endblock %}

{% block content %}
<div id="top_view">
    <div id="title_view">
        <h2>Radar View</h2>
        <p>Move freely to find out</p>
    </div>

    <div id="filters_view">
        <button class="btn btn-primary material-icons" id="tune_button">tune</button>
        <div id="active_filters">
            <span>Active Filters<br> <b><h3>1/6</h3></b></span><!-- CHANGE LATER !! -->
        </div>
        <button class="btn btn-primary" id="save_search_button" href="" role="button">Save Search</button>
    </div>
</div>

<!-- VUE CENTER VIEW -->
<div id="app" class="center_view"></div>

<div id="bottom_view">
    <button class="btn btn-primary" id="algorythm_button">NORDLYS ALGORYTHM</button>
    <button class="btn btn-primary" id="search_button">SEARCH</button>
</div>
{% endblock %}
