{% extends 'home/home.html' %}

{% block title %}
<title> radar view </title>
{% endblock %}

{% block radarview %}
<div id="top_view">
    <div id="title_view">
        <h2>Radar View</h2>
        <p>Move freely to find out</p>
    </div>

    <div id="filters_view">
        <button class="material-icons" id="tune_button">tune</button>
        <div id="active_filters">
            <span>Active Filters<br> <b><h3>1/6</h3></b></span><!-- CHANGE LATER !! -->
        </div>
        <a class="btn btn-primary" id="save_search_button" href="" role="button">Save Search</a>
    </div>
</div>
<div id="center_view">
    <nav class="circle-menu">
        <div class="center"></div>
        <ul>
            <li><a href="#" class="icon-gist-secret"><span class="segment"></span></a></li>
            <li><a href="#" class="icon-hubot"></a></li>
            <li><a href="#" class="icon-hourglass"></a></li>
            <li><a href="#" class="icon-light-bulb"></a></li>
            <li><a href="#" class="icon-squirrel"><span class="segment"></span></a></li>
            <li><a href="#" class="icon-law"></a></li>
        </ul>
    </nav>
</div>
<div id="bottom_view">
    <button class="btn btn-primary" id="algorythm_button">NORDLYS ALGORYTHM</button>
    <button class="btn btn-primary" id="search_button">SEARCH</button>
</div>
{% endblock %}
