.radarview_container #center_view #round-menu {
    top: 0px;
    height: auto;
}
.radarview_container #center_view { height: auto; }
.radarview_container #center_view .wrap{
    width: 55vmin;
    height: 55vmin;

    transform: scale(.8) translateZ(0px);
}
.radarview_container #center_view a:hover img { opacity:1; }
.radarview_container #center_view .menu_item {
    position: absolute;
    overflow: hidden;

    width: 50%;
    height: 50%;

    background: #ffffff;
    transition: background .5s;
}
.radarview_container #center_view .lateral:hover {
    background: #F3F4F5;
}
.radarview_container #center_view .menu_item div {
    height: 100%;

    background-size: cover;
    border-radius: inherit;
}
.radarview_container #center_view .menu_item:nth-child(1) {
    border-radius: 40vmin 0 0 0;
}
.radarview_container #center_view .menu_item:nth-child(1) span {
    position: relative;
    font-size: 6vmin;
    top: 31%;
    left: 31%;
}
.radarview_container #center_view .menu_item:nth-child(2) {
    border-radius: 0 40vmin 40vmin 0;
    height: 100%;
    left: 50%;
}
.radarview_container #center_view .menu_item:nth-child(2) span {
    position: relative;
    font-size: 6vmin;
    top: 45%;
    left: 70%;
}
.radarview_container #center_view .menu_item:nth-child(3) {
    border-radius: 0 0 0 40vmin;
    top: 50%;
}
.radarview_container #center_view .menu_item:nth-child(3) span {
    position: relative;
    font-size: 6vmin;
    top: 45%;
    left: 31%;
}
.radarview_container #center_view .central {
    border-radius: 20vmin;
    width: 55%;
    height: 55%;
    left: 22.5%;
    top: 22.5%;

    box-shadow: 0 0 0 2.5vmin #E2E2E2;
}
.radarview_container #center_view .central img {
    opacity: .5;
    transition:opacity .5s;
}
.radarview_container #center_view .central img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
