.radarview_container #top_view {
    display: flex;
}
.radarview_container #top_view  #title_view {
    min-width: 220px;
    margin: 30px;

    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #17294A;
}
.radarview_container #top_view #filters_view {
    display: inherit;
    align-items: center;

    width: 100%;
    margin: 30px;
    padding: 0px 20px 0px 20px;

    border-radius: 15px;
    background-color: #fbfbfb;
    box-shadow: 2px 4px 8px #C4C4DA;
}
.radarview_container #top_view #tune_button {
    font-size: 28px;

    border: none;
    border-radius: 9px;

    color: #4E8CFC;
    background-color: #ffffff;
    box-shadow: 1px 2px 4px #C4C4DA;

    margin: 0px 20px 10px 0px;
    padding: 8px;
}
.radarview_container #top_view #active_filters {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;

    color: #17294A;

    margin-right: 20px;
}
.radarview_container #top_view #save_search_button {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;

    color: #ffffff;
    background-color: #4E8CFC;

    border: none;
    border-radius: 9px;

    margin-left: auto;
}