/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* HTML */
body {
    background-color: #E2E2E2;
}

/* VERTICAL NAV */
.verticalnav_container {
    display: flex;
    flex-direction: column;

    float: left;
    overflow: hidden;

    width: 75px;
    height:100vh;
    border-radius: 0px 25px 25px 0px;

    background-color: #ffffff;
}
.verticalnav_container .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0px 0px 5vh 12px;
    padding: 8px;
}
.verticalnav_container .material-icons {
    font-size: 28px;
    color: #6A7FA4;
}
.verticalnav_container .material-icons:hover { text-decoration: none; }
.verticalnav_container #selected_icon {
    border-radius: 25px 0px 0px 25px;
    background-color: #F5F6FB;
}
.verticalnav_container #selected_icon_content { color: #4E8CFC; }
.verticalnav_container #account_settings_icon { margin-top: auto; }
.verticalnav_container #img_logo {
    display: block;
    margin: 25px auto 75px auto;

    width: 50px;
    height: 50px;
}

/* RADAR VIEW */
.radarview_container {}
.radarview_container #top_view {
    display: flex;
}
.radarview_container #title_view {
    margin: 30px;

    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #17294A;
}
.radarview_container #filters_view {
    margin: 30px 30px 30px auto;
    padding: 10px;
    background-color: #ffffff;
}