{% load static %}

<html>
<head>
    <link rel="stylesheet" href="stilewb.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'user/css/login_style.css' %}">
</head>
<body>
<div class="container">
    <div class="centre">
        <h1 class="btext"><b>Welcome back!</b></h1>
        <label for="wemail" class="form-label lmtext">Work email</label>
        <div class="row">
            <input type="user" class="font" id="wemail" placeholder="name@gmail.com">
        </div>
        <label for="pass" class="form-label lmtext">Password</label>
        <div class="row">
            <input type="password" class="font" id="pass">
        </div>
        <div class="btalin">
            <button type="button" class=" bttn1">SING-IN</button>
        </div>
        <h1 class="utext">Don't have an account? <a href="altro.html">Sing up.</a></h1>
    </div>
</div>
</body>
</html>  