{% extends 'user/main.html' %}

{% block title %}
<title>sign up</title>
{% endblock %}

{% block content %}
<h1> sign up </h1>

<form action="" method="POST">
    {% csrf_token %}

    {% for field in form %}
    {{ field.label_tag }} {{ field }} <br>
    {% endfor %}

    {% for field in form %}
    {{ field.errors }}
    {% endfor %}

    {% if exceptions.taken_username_exc == True %}
    <p>email already has an account!</p>
    {% endif %}

    <input type="submit" value="Post"/>
</form>

<a href="{% url 'login_page' %}"> already have an account? </a>

{% endblock %}
